<div class="checkin">
  <form class="checkin_form">
    <span class="form_group">
      <label for="destination">Destination</label>
      <select name="destination" id="destination"placeholder="Select a destination">
        <option value="0">Select a destination</option>
        <option value="brazil">Brazil</option>
        <option value="nunavut">Nunavut</option>
        <option value="costarica">Costa Rica</option>
        <option value="borabora">Bora Bora</option>
        <option value="iceland">Iceland</option>
        <option value="australia">Australia</option>
      </select>
    </span>
    <span class="form_group">
      <label for="date">Check-in</label>
      <input type="date" name="checkin" id="checkin">
    </span>
    <span class="form_group">
      <label for="date">Check-out</label>
      <input type="date" name="checkout" id="checkout">
    </span>  
    <span class="form_group">
      <label for="guests">Guests</label>
      <input type="number" min="1">
    </span>
    <span class="form_group">
      <button type="button" class="btn btn-info">
        <a href="/rooms">Find Stays!</a>
      </button> 
    </span>    
  </form>
</div>