       <nav class="navbar footer  static-bottom">
              <p class="copyrighted">&copy; 2020 Arjun Devakumar</p>
            <div class="social-media">
              <a href="http://www.instagram.com" target="_blank">
                <img src="instagram.png" alt="instagram" class="social-icon" />
              </a>
              <a href="http://www.facebook.com" target="_blank">
                <img src="facebook.png" alt="facebook" class="social-icon" />
              </a>
              <a href="http://www.pinterest.ca" target="_blank">
                <img src="pintrest.png" alt="" class="social-icon" />
              </a>
            </div>
            <a class="navbar-brand" href="#">
              <img src="chrashpadz_logo.png" height="80px">
            </a>
          </nav>
        </div>