<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="../src/reset.css" type="text/css">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
        <link rel="stylesheet" href="style.css" type="text/css">
        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
        <script src="validate.js"></script>

      </head>
    <body class="main_bk_img">
        {{> header user}}
          <div class="container-fluid">
            <div class="row banner">
               <h5 class="banner_text">Sign up now for a <strong>$100.00</strong> off your first stay!</h5>
              </div>
              <div class="row">
              </div>
            </div>
<!-- Check In Form -->
{{>checkin}}
<div class="info">
  <h2 class="title">
    Who We Are
  </h2>
  <div class="message">
    <p class="p-message">
      At Crashpadz our team is commited to finding you the most exciting and incredible places to stay all over the world.<br>  From nights in the treetops of the Amazon to rooms deep within the ocean reefs,<br> Crashpadz will find awe inspiring rooms that you won't want to fall asleep in.
    </p>
  </div>
  
</div>

  <iframe width="500" height="300" src="https://www.youtube.com/embed/QH9IvVv3RfM" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

<!-- Modal Sign Up-->
<div class="modal fade" id="register" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Sign Up!</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form onsubmit="return regValidator()" action="/add-user" method="POST">
          <div class="form-group">
            <input type="text" class="form-control" id="email-reg" name="email" placeholder="Email address">
            <small class="form-text text-muted">We'll never share your email with anyone else.</small>
            <div id="email-error"></div>
            <div id="email-valid"></div>
          </div>
          <div class="form-group">
            <input type="text" class="form-control" id="first-name" name="firstname"placeholder="First name">
          </div>
          <div class="form-group">
            <input type="text" class="form-control" id="last-name" name="lastname" placeholder="Last name">
          </div>
          <div class="form-group">
            <input type="password" class="form-control" id="reg-password" name="password" placeholder="Create a password">
            <div id="pass-error"></div>
            <div id="pass-valid"></div>
          </div>
          <!-- Birthday entry -->

           <label for="birthday">Enter your birthday:</label>
           <input type="date" id="birthday" name="dob" placeholder="yyyy-dd-mm">
           <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <button type="submit" class="btn btn-primary">Sign Up</button>
          </div>
        </form>
      </div>
     
    </div>
  </div>
</div>
   {{>footer}}    
    </body>
</html>