<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="../src/reset.css" type="text/css">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
        <link rel="stylesheet" href="style.css" type="text/css">
        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
        <script src="validate.js"></script>

      </head>
    <body class="main_bk_img">
        <nav class="navbar navbar-expand-lg navbar-light bg-light navbar-expand-md" width=100%>
          <div class="nav_logo">
            <img src="chrashpadz_logo.png" height="100%">
            <img src="logo_crashpadz_name.png" width="50%">
          </div>
          
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
              <div class="navbar-nav">
                <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
                <a class="nav-link" href="rooms">Find A Room</a>
              </div>
            </div>
            <div class="signin_btn">
              <button type="button" class="btn btn-secondary" data-toggle="modal" data-target="#login">Log In</button>
              <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#register" data-whatever="@mdo">Sign Up!</button>
            </div>
          </nav>
          <div class="container-fluid">
            <div class="row banner">
               <h5 class="banner_text">Sign up now for a <strong>$100.00</strong> off your first stay!</h5>
              </div>
              <div class="row">
              </div>
            </div>
<!-- Check In Form -->
<div class="checkin">
  <form class="checkin_form">
    <span class="form_group">
      <label for="destination">Destination</label>
      <select name="destination" id="destination"placeholder="Select a destination">
        <option value="0">Select a destination</option>
        <option value="brazil">Brazil</option>
        <option value="nunavut">Nunavut</option>
        <option value="costarica">Costa Rica</option>
        <option value="borabora">Bora Bora</option>
        <option value="iceland">Iceland</option>
        <option value="australia">Australia</option>
      </select>
    </span>
    <span class="form_group">
      <label for="date">Check-in</label>
      <input type="date" name="checkin" id="checkin">
    </span>
    <span class="form_group">
      <label for="date">Check-out</label>
      <input type="date" name="checkout" id="checkout">
    </span>  
    <span class="form_group">
      <label for="guests">Guests</label>
      <input type="number" min="1">
    </span>
    <span class="form_group">
      <button type="button" class="btn btn-info">
        <a href="/rooms">Find Stays!</a>
      </button> 
    </span>    
  </form>
</div>
<div class="info">
  <h2 class="title">
    Who We Are
  </h2>
  <div class="message">
    <p class="p-message">
      At Crashpadz our team is commited to finding you the most exciting and incredible places to stay all over the world.<br>  From nights in the treetops of the Amazon to rooms deep within the ocean reefs,<br> Crashpadz will find awe inspiring rooms that you won't want to fall asleep in.
    </p>
  </div>
  
</div>

  <iframe width="500" height="300" src="https://www.youtube.com/embed/QH9IvVv3RfM" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

<!-- Modal Sign Up-->
<div class="modal fade" id="register" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Sign Up!</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form onsubmit="return regValidator()" action="/add-user" method="POST">
          <div class="form-group">
            <input type="text" class="form-control" id="email-reg" name="email" placeholder="Email address">
            <small class="form-text text-muted">We'll never share your email with anyone else.</small>
            <div id="email-error"></div>
            <div id="email-valid"></div>
          </div>
          <div class="form-group">
            <input type="text" class="form-control" id="first-name" name="firstname"placeholder="First name">
          </div>
          <div class="form-group">
            <input type="text" class="form-control" id="last-name" name="lastname" placeholder="Last name">
          </div>
          <div class="form-group">
            <input type="password" class="form-control" id="reg-password" name="password" placeholder="Create a password">
            <div id="pass-error"></div>
            <div id="pass-valid"></div>
          </div>
          <!-- Birthday entry -->

           <label for="birthday">Enter your birthday:</label>
           <input type="date" id="birthday" name="dob" placeholder="yyyy-dd-mm">
           <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <button type="submit" class="btn btn-primary">Sign Up</button>
          </div>
        </form>
      </div>
     
    </div>
  </div>
</div>
<!-- Modal Log In -->
<div class="modal fade" id="login" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="login">Log In</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form id="login-form" onsubmit="return loginValidator()"  action="/login" method="POST" name="login_form">
          <div class="form-group">
            <input type="text" class="form-control" id="email-login" name="email" placeholder="Email address">
            <div id="login-error"></div>
          </div>
          <div class="form-group">
            <input type="password" class="form-control" id="login-password" name="password" placeholder="Password">
            <div id="password-error"></div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <button type="submit" class="btn btn-primary">Sign In</button>
          </div>
          
        </form>
      </div>
      
    </div>
  </div>
</div>
        </div>  
        <div class="nav-footer">
          <nav class="navbar footer  static-bottom">
              <p class="copyrighted">&copy; 2020 Arjun Devakumar</p>
            <div class="social-media">
              <a href="http://www.instagram.com" target="_blank">
                <img src="instagram.png" alt="instagram" class="social-icon" />
              </a>
              <a href="http://www.facebook.com" target="_blank">
                <img src="facebook.png" alt="facebook" class="social-icon" />
              </a>
              <a href="http://www.pinterest.ca" target="_blank">
                <img src="pintrest.png" alt="" class="social-icon" />
              </a>
            </div>
            <a class="navbar-brand" href="#">
              <img src="chrashpadz_logo.png" height="80px">
            </a>
          </nav>
        </div>
         
          
    </body>
</html>