<!-- Arjun Devakumar
     159076199
     adevakumar1@myseneca.ca
     October 11, 2020
-->
<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0,  shrink-to-fit=no">
        <link rel="stylesheet" href="../src/reset.css" type="text/css">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
        <link rel="stylesheet" href="style.css" type="text/css">
        <link rel="stylesheet" href="css/bootstrap.css">
        <link rel="stylesheet" href="css/bootstrap-responsive.css">
        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
        <script src="validate.js"></script>
   </head>
    <body>
        {{>header user}}
        <!-- Modal Sign Up-->
<div class="modal fade" id="register" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Sign Up!</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form onsubmit="return regValidator()">
          <div class="form-group">
            <input type="text" class="form-control" id="email-reg" placeholder="Email address">
            <small class="form-text text-muted">We'll never share your email with anyone else.</small>
            <div id="email-error"></div>
            <div id="email-valid"></div>
          </div>
          <div class="form-group">
            <input type="text" class="form-control" id="first-name" placeholder="First name">
          </div>
          <div class="form-group">
            <input type="text" class="form-control" id="last-name" placeholder="Last name">
          </div>
          <div class="form-group">
            <input type="password" class="form-control" id="reg-password" placeholder="Create a password">
            <div id="pass-error"></div>
            <div id="pass-valid"></div>
          </div>
          <!-- Birthday entry -->

           <label for="birthday">Enter your birthday:</label>
           <input type="date" id="birthday" name="birthday" placeholder="yyyy-dd-mm">
           <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <button type="submit"  class="btn btn-primary">Sign Up</button>
          </div>
        </form>
      </div>
     
    </div>
  </div>
</div>
<!-- Modal Log In -->
<div class="modal fade" id="login" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="login">Log In</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form id="login-form" onsubmit="return loginValidator()"  name="login_form">
          <div class="form-group">
            <input type="text" class="form-control" id="email-login" placeholder="Email address">
            <div id="login-error"></div>
          </div>
          <div class="form-group">
            <input type="password" class="form-control" id="login-password" placeholder="Password">
            <div id="password-error"></div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <button type="submit" class="btn btn-primary">Sign In</button>
          </div>
          
        </form>
      </div>
      
    </div>
  </div>
</div>
            <div class="container-fluid">
                <div class="room-header">
                    <h1 class="room-title">Stays</h1>
                </div>
                <!-- Check In Form -->
{{>checkin}}
                <div class="row room_banner">
                </div>
{{#if roomLen}}
<div class="row card-row">
{{#each room}}
{{>room}}
{{!-- {{>room}} --}}
{{/each}}
</div>

{{/if}}
                {{!-- <div class="row card-deck">
                    <div class="card">
                      <img src="room_images/1607646348329.jpg" class="card-img-top" alt="..." width="100%">
                      <div class="card-body">
                        <h5 class="card-title">Amazon Rainforest Treehouse</h5>
                        <p class="card-text">A large treetop hut, above the lushes Amazon rainforest in Brazil.  Hear the wildlife and nature as you take in the beauty of the Amazon.</p>
                        <p><strong>$415</strong><small>CAD</small> per night</p>
                      </div>
                       <button type="submit" class="btn btn-primary">Sign In</button>
                    </div>
                    <div class="card">
                      <img src="globe_tent.jpg" class="card-img-top" alt="..." width="100%">
                      <div class="card-body">
                        <h5 class="card-title">Northern Canada Globe Tent</h5>
                        <p class="card-text">Located in the northern tundra in Nunavut, this warm globe will give you uninterrupted views of the majestic Northern Lights.</p>
                        <p><strong>$150</strong><small>CAD</small> per night</p>
                      </div>
                    </div>
                    <div class="card">
                      <img src="underwater_room.jpg" class="card-img-top" alt="..." width="100%">
                      <div class="card-body">
                        <h5 class="card-title">Great Barrier Reef Underwater Hotel</h5>
                        <p class="card-text">This one of a kind hotel, will take your breath away as you fall asleep to the tropical fish and coral reefs of all colours and shapes surround you.</p>
                        <p><strong>$380</strong><small>CAD</small> per night</p>
                      </div>
                    </div>
                    
                  </div> --}}
                  {{!-- <div class=" row card-deck">
                    <div class="card">
                      <img src="overwater_hut.jpg" class="card-img-top" alt="..." width="100%">
                      <div class="card-body">
                        <h5 class="card-title">Ocean Hut Bora Bora</h5>
                        <p class="card-text">A romantic getaway located over the warm waters of the Caribbean sea, take in the beauty of the ocean as you fall asleep to the sounds of crashing waves.</p>
                        <p><strong>$415</strong><small>CAD</small> per night</p>
                      </div>
                    </div>
                    <div class="card">
                      <img src="treehouse.jpg" class="card-img-top" alt="..." width="100%">
                      <div class="card-body">
                        <h5 class="card-title">Costa Rican Luxury Treehouse</h5>
                        <p class="card-text">Enjoy the views from the canopy of the Costa Rican jungle when you stay at this luxurious treetop oasis.</p>
                        <p><strong>$505</strong><small>CAD</small> per night</p>
                      </div>
                    </div>
                    <div class="card">
                      <img src="igloo.jpg" class="card-img-top" alt="..." width="100%">
                      <div class="card-body">
                        <h5 class="card-title">Iclandic Igloo</h5>
                        <p class="card-text">Stay warm in this one of a kind Igloo located in the glaciers of Iceland.</p>
                        <p><strong>$278</strong><small>CAD</small> per night</p>
                      </div>
                    </div>
                    
                  </div> --}}
                <div class="row rooms">
                    <div class="col-md-4">

                    </div>
                </div>
            </div>
       {{>footer}}
    </body>
</html>