<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="../src/reset.css" type="text/css">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
        <link rel="stylesheet" href="style.css" type="text/css">
        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
    </head>
    <body>
        
        <nav class="navbar navbar-expand-lg navbar-light bg-light nav_small">
            <div class="nav_logo">
              <img src="chrashpadz_logo.png" height="100%">
              <img src="logo_crashpadz_name.png" height=30em>
            </div>
            
              <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                <div class="navbar-nav">
                  <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
                  <a class="nav-link" href="rooms">Find A Room</a>
                </div>
              </div>
              <div class="signin_btn">
                <button type="button" class="btn btn-secondary" data-toggle="modal" data-target="#login">Log In</button>
                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#register" data-whatever="@mdo">Sign Up!</button>
              </div>
            </nav>
            <!-- Modal Sign Up-->
<div class="modal fade" id="register" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Sign Up!</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form>
            <div class="form-group">
              <input type="text" class="form-control" id="email" placeholder="Email address">
              <small class="form-text text-muted">We'll never share your email with anyone else.</small>
            </div>
            <div class="form-group">
              <input type="text" class="form-control" id="first-name" placeholder="First name">
            </div>
            <div class="form-group">
              <input type="text" class="form-control" id="last-name" placeholder="Last name">
            </div>
            <div class="form-group">
              <input type="password" class="form-control" id="password" placeholder="Create a password">
            </div>
            <!-- Birthday entry -->
  
             <label for="birthday">Enter your birthday:</label>
             <input type="date" id="birthday" name="birthday" placeholder="yyyy-dd-mm">
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="submit" data-dismiss="modal" class="btn btn-primary">Sign Up</button>
        </div>
      </div>
    </div>
  </div>
  <!-- Modal Log In -->
  <div class="modal fade" id="login" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="login">Log In</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form>
            <div class="form-group">
              <input type="email" class="form-control" id="email" placeholder="Email address">
              <small class="form-text text-muted">We'll never share your email with anyone else.</small>
            </div>
            <div class="form-group">
              <input type="password" class="form-control" id="password" placeholder="Password">
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary">Sign In</button>
        </div>
      </div>
    </div>
  </div>
            <div class="container-fluid">
                <div class="room-header">
                    <h1 class="room-title">Stays</h1>
                </div>
                <div class="row room_banner">
                </div>
                <div class=" row card-deck">
                    <div class="card">
                      <img src="jungle_treehouse.jpg" class="card-img-top" alt="..." width="100%">
                      <div class="card-body">
                        <h5 class="card-title">Amazon Rainforest Treehouse</h5>
                        <p class="card-text">A large treetop hut, above the lushes Amazon rainforest in Brazil.  Hear the wildlife and nature as you take in the beauty of the Amazon.</p>
                        <p><strong>$415</strong><small>CAD</small> per night</p>
                      </div>
                    </div>
                    <div class="card">
                      <img src="globe_tent.jpg" class="card-img-top" alt="..." width="100%">
                      <div class="card-body">
                        <h5 class="card-title">Northern Canada Globe Tent</h5>
                        <p class="card-text">Located in the northern tundra in Nunavut, this warm globe will give you uninterrupted views of the majestic Northern Lights.</p>
                        <p><strong>$150</strong><small>CAD</small> per night</p>
                      </div>
                    </div>
                    <div class="card">
                      <img src="underwater_room.jpg" class="card-img-top" alt="..." width="100%">
                      <div class="card-body">
                        <h5 class="card-title">Great Barrier Reef Underwater Hotel</h5>
                        <p class="card-text">This one of a kind hotel, will take your breath away as you fall asleep to the tropical fish and coral reefs of all colours and shapes surround you.</p>
                        <p><strong>$380</strong><small>CAD</small> per night</p>
                      </div>
                    </div>
                    
                  </div>
                  <div class=" row card-deck">
                    <div class="card">
                      <img src="overwater_hut.jpg" class="card-img-top" alt="..." width="100%">
                      <div class="card-body">
                        <h5 class="card-title">Ocean Hut Bora Bora</h5>
                        <p class="card-text">A romantic getaway located over the warm waters of the Caribbean sea, take in the beauty of the ocean as you fall asleep to the sounds of crashing waves.</p>
                        <p><strong>$415</strong><small>CAD</small> per night</p>
                      </div>
                    </div>
                    <div class="card">
                      <img src="treehouse.jpg" class="card-img-top" alt="..." width="100%">
                      <div class="card-body">
                        <h5 class="card-title">Costa Rican Luxury Treehouse</h5>
                        <p class="card-text">Enjoy the views from the canopy of the Costa Rican jungle when you stay at this luxurious treetop oasis.</p>
                        <p><strong>$505</strong><small>CAD</small> per night</p>
                      </div>
                    </div>
                    <div class="card">
                      <img src="igloo.jpg" class="card-img-top" alt="..." width="100%">
                      <div class="card-body">
                        <h5 class="card-title">Iclandic Igloo</h5>
                        <p class="card-text">Stay warm in this one of a kind Igloo located in the glaciers of Iceland.</p>
                        <p><strong>$278</strong><small>CAD</small> per night</p>
                      </div>
                    </div>
                    
                  </div>
                <div class="row rooms">
                    <div class="col-md-4">

                    </div>
                </div>
            </div>
            <div class="nav-footer">
                <nav class="navbar footer  static-bottom">
                    <p class="copyrighted">&copy; 2020 Arjun Devakumar</p>
                  <div class="social-media">
                    <a href="http://www.instagram.com" target="_blank">
                      <img src="instagram.png" alt="instagram" class="social-icon" />
                    </a>
                    <a href="http://www.facebook.com" target="_blank">
                      <img src="facebook.png" alt="facebook" class="social-icon" />
                    </a>
                    <a href="http://www.pinterest.ca" target="_blank">
                      <img src="pintrest.png" alt="" class="social-icon" />
                    </a>
                  </div>
                  <a class="navbar-brand" href="#">
                    <img src="chrashpadz_logo.png" height="80px">
                  </a>
                </nav>
              </div>
    </body>
</html>